<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Danh sách nhân viên</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div th:if="${listEmployee.size()==0}">
        <h3 class="text-danger">Chưa có nhân viên nào!</h3>
    </div>
    <div th:if="${listEmployee.size()>0}">
        <h1>Danh sách nhân viên</h1>
        <h6 th:if="${message}" th:text="${message}" class="text-danger"></h6>

        <form th:action="@{/employees/search-by-name}" method="get">
            <b>Employee name: </b>
            <input type="text" name="fullName">
            <input type="submit" value="Tìm kiếm" class="btn btn-primary">
        </form>
        <br>

        <table class="table table-bordered table-striped">
            <tr>
                <th>Số thứ tự</th>
                <th>Mã nhân viên</th>
                <th>Avatar</th>
                <th>Họ tên</th>
                <th>Giới tính</th>
                <th>Công ty</th>
                <th>Action</th>
            </tr>
            <tr th:each="e,index:${listEmployee}">
                <td th:text="${index.count}"></td>
                <td th:text="${e.empId}"></td>
                <td>
                    <img width="50px" height="50px" th:src="@{|/resources/images/${e.avatar}|}" alt=""/>
                </td>
                <td th:text="${e.fullName}"></td>
                <td th:text="${e.gender?'Nam':'Nữ'}"></td>
                <td th:text="${e.company}"></td>
                <td>
                    <a th:href="@{/employees/delete(empId=${e.empId})}"
                       onclick="return confirm('Bạn có chắc chắn xóa?')">Xóa</a>
                </td>
            </tr>
        </table>
    </div>
    <a th:href="@{/employees/add}">Thêm mới nhân viên</a>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>